body {
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

header {
    background-color: #80e6f6;
    color: #000000;
    border:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
    box-sizing: border-box;

}

.flex-container {
    display: flex;
    flex-grow: 1;
}

aside {
    background-color:beige;
    color: rgb(0, 0, 0);
    border:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    width: 300px;
    padding:1rem ;
}

main {
    flex-grow: 1;
    border:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    padding: 1rem;
    background-color:burlywood;
}

iframe {
    background-color:rgb(90, 194, 194);
    border:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    padding: 1rem;
    box-sizing: border-box;
}

footer {
    background-color: coral;
    border:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    color:black;
    padding:1rem ;
}